<div class="sidebar-right-body">
	<h3><b>Recent Posts</b></h3>
	{% for post in paginator.posts %}
	<article class="post">
	{% assign author = site.data.users[post.author] %}
	  <a href="{{ author.about }}"><img alt="person" class="author" align="right" src="{{ author.avatar }}"></a>
	  <h4>{{ post.title }}</h4>
	  <img alt="funny but true comic" src="{{ post.imageSource }}">
	  <p class="subheader">By <a href="{{ author.web }}">{{ author.display_name }}</a> under &nbsp;
	 {% for tag in post.tags %}
	 <a href="{{base_url}}/tags/{{ tag |downcase | slugize }}/" class="{{tag}} label">{{tag}}</a>
	 {% unless forloop.last %} &nbsp; {% endunless %}
	 {% endfor %}
	  <div class="article-content">
		{{ post.excerpt }}
	  </div>
	  <a href="{{ post.url }}" class="ghost button">Read more >></a>
	</article>
	<br>
	{% endfor %}
	  <h1></h1>
	  <p class="author">
		<span class="date">{{ post.date }}</span>
	  </p>



	<!-- Pagination links -->
	<div class="pagination">
  <p>
	  {% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
	  {% else %}
		<span class="previous"></span>
	  {% endif %}
	  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
	  {% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" class="next">Next</a>
	  {% else %}
		<span class="next "></span>
	  {% endif %}
  </p>
	</div>
	</div>
